.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.box__oRuD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.slotLabel {
  font-size: 16px;
  color: #ffffff;
}
.slotLabel__invalid {
  color: #e03616 /* plasmic-token: vXRDjhYOd */;
}
.slotLabel__invalid_multiline {
  color: #e03616 /* plasmic-token: vXRDjhYOd */;
}
.textbox {
  position: relative;
  width: 100%;
  color: #393e46 /* plasmic-token: cpZtH5yfn */;
  min-width: 0;
  border-radius: 4px;
}
.textbox__invalid {
  border: 1px solid #e03616 /* plasmic-token: vXRDjhYOd */;
}
.textarea {
  position: relative;
}
.textarea__multiline {
  width: 100%;
  color: #222831 /* plasmic-token: 1Ug0537Sm */;
  min-width: 0;
  border-radius: 4px;
}
.textarea__invalid_multiline {
  border: 1px solid #e03616 /* plasmic-token: vXRDjhYOd */;
}
.box__g1ClC {
  position: relative;
  display: flex;
  flex-direction: column;
}
.box__invalid__g1ClCeItxl {
  align-self: flex-end;
  margin-top: 5px;
}
.slotError__invalid {
  font-size: 14px;
  color: #e03616 /* plasmic-token: vXRDjhYOd */;
}
.slotError__invalid_multiline {
  color: #e03616 /* plasmic-token: vXRDjhYOd */;
}
