.modalWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 0;
  min-height: 0;
  background: #64646480;
}
.modal {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 500px;
  flex-direction: column;
  min-width: 0;
  border-radius: 8px;
  padding: 25px 30px;
  background: #393e46;
}
.modal > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.modal > :global(.__wab_flex-container) > *,
.modal > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.closeModal {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.closeModalIcon {
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #eeeeeee6 /* plasmic-token: frGkWCQWa */;
  cursor: pointer;
  flex-shrink: 0;
}
.box {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.box > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
