.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #3f88c5;
  border-width: 0px;
}
.button__type_cinnabar {
  background: #e94f37;
}
.button__type_eee90 {
  background: #eeeeeee6;
}
.button__type_vermillion {
  background: #e03616;
}
.button__size_large {
  padding: 6px 10px;
}
.root:hover .button {
  cursor: pointer;
  background: #eeeeeee6;
  border: 0px solid #3f88c5 /* plasmic-token: 44xrrLCrF */;
}
.root__type_eee90:hover .button__type_eee90 {
  background: #e94f37;
}
.slotChildren {
  color: #ffffff;
}
.slotChildren__type_eee90 {
  color: #e94f37 /* plasmic-token: U1Nan7xho */;
}
.root:hover .slotChildren {
  color: #3f88c5 /* plasmic-token: 44xrrLCrF */;
}
.root__type_cinnabar:hover .slotChildren__type_cinnabar {
  color: #e94f37 /* plasmic-token: U1Nan7xho */;
}
.root__type_eee90:hover .slotChildren__type_eee90 {
  color: #eeeeeee6 /* plasmic-token: frGkWCQWa */;
}
.root__type_vermillion:hover .slotChildren__type_vermillion {
  color: #e03616 /* plasmic-token: vXRDjhYOd */;
}
