.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  background: #222831;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.actionIcon:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__nq7E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nq7E {
    width: 64px;
    height: 64px;
    color: #ffffff;
  }
}
.svg__o3D {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.box__fjwXm {
  position: relative;
  width: 102px;
  height: 46px;
  color: #ffffff;
  left: auto;
  top: auto;
}
.view {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px 20px 30px;
}
.view > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.view > :global(.__wab_flex-container) > *,
.view > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .view {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .view > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .view > :global(.__wab_flex-container) > *,
  .view > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.box__kgQf {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  background: #393e46;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__kgQf {
    left: auto;
    top: auto;
  }
}
.studyInfo {
  display: flex;
  position: relative;
  width: 40%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-height: 0;
}
.studyInfo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.studyInfo > :global(.__wab_flex-container) > *,
.studyInfo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .studyInfo {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
.selectedResearch:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .selectedResearch:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.selectedStrategy:global(.__wab_instance) {
  position: relative;
}
.researchCard__tqHDx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.researchCard__ypUs5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.researchCard__pbTqm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.researchCard__zl262:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.openModalButton:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: auto;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right: 40px;
  flex-shrink: 0;
}
.box__pLomL {
  display: flex;
  position: relative;
  width: 70px;
  height: 70px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  box-shadow: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #373b43fc;
  border: 1px solid #eeeeee6b;
}
.svg__seNzx {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.withAddResearchModal:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.withAddResearchModal__withAddResearch:global(.__wab_instance) {
  position: absolute;
  left: 0;
  top: 0;
}
.box__ycfPd {
  position: relative;
}
.box__withAddResearch__ycfPdGcXLs {
  color: #ffffff;
  font-size: 16px;
}
.title:global(.__wab_instance) {
  position: relative;
}
.box__kIPb {
  height: auto;
}
.description:global(.__wab_instance) {
  position: relative;
}
.link:global(.__wab_instance) {
  position: relative;
}
.strategy:global(.__wab_instance) {
  position: relative;
}
.method:global(.__wab_instance) {
  position: relative;
}
.box__lSk92 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 10px;
}
.withDeleteProgramModal:global(.__wab_instance) {
  position: relative;
}
.withDeleteProgramModal__withDeleteProgram:global(.__wab_instance) {
  position: absolute;
  left: 0;
  top: 0;
}
.message {
  position: relative;
  color: #ffffff;
  text-align: justify;
  width: auto;
  display: inline-block;
}
.message__withDeleteProgram {
  text-align: center;
  font-size: 20px;
}
.box__n8Hr7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__withDeleteProgram__n8Hr7EeJt > :global(.__wab_flex-container) {
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box__withDeleteProgram__n8Hr7EeJt > :global(.__wab_flex-container) > *,
.box__withDeleteProgram__n8Hr7EeJt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 20px;
  margin-top: 0px;
}
.yes:global(.__wab_instance) {
  position: relative;
}
.no:global(.__wab_instance) {
  position: relative;
}
