.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  overflow: auto;
  min-width: 0;
  background: #222831;
}
.header:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.header__withAddStudy:global(.__wab_instance) {
  flex-shrink: 0;
}
.logoArea {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  cursor: pointer;
}
.logoArea > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logoArea > :global(.__wab_flex-container) > *,
.logoArea > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.actionIcon:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__yxAx1 {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.box__phwDc {
  position: relative;
  width: 102px;
  height: 46px;
  color: #ffffff;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.modalWrapper:global(.__wab_instance) {
  position: relative;
}
.modalWrapper__withAddStudy:global(.__wab_instance) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.programsList:global(.__wab_instance) {
  position: relative;
}
.addProgram:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: auto;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.box__bkfwA {
  display: flex;
  position: relative;
  width: 70px;
  height: 70px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  box-shadow: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #373b43fc;
  border: 2px solid #eeeeee6b;
}
.box__empty__bkfwAw9A7F {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.svg__pcCn {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.editStudyBackground {
  display: block;
  position: relative;
}
.modal:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
}
.box__fwAm5 {
  position: relative;
  color: #ffffff;
  text-align: justify;
  width: auto;
  display: inline-block;
}
.box___4QHx {
  position: relative;
}
.textbox {
  width: 100%;
  min-width: 0;
}
.textarea {
  position: relative;
  width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  position: relative;
}
