.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #3f88c5;
  border-width: 0px;
}
.button__disabled {
  cursor: not-allowed;
  background: #eeeeee80;
}
.root:hover .button {
  cursor: pointer;
  background: #eeeeeee6;
  border: 0px solid #3f88c5 /* plasmic-token: 44xrrLCrF */;
}
.slotChildren {
  color: #ffffff;
}
.root:hover .slotChildren {
  color: #3f88c5 /* plasmic-token: 44xrrLCrF */;
}
